*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.go-back{
    background-color: rgb(35, 35, 35);
    color: white;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 25px;
}
.go-back p{
    font-size: 20px;
    font-weight: bold;
}
.body-holder{
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    padding-left: 20px;
    margin: 20px;
}
.body-holder img{
    width: 40%;
    height: 100%;
    border-radius: 15px;
}
.detail-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:55%;
    height: 100%;

}
.detail-information h1{
    font-size: 45px;
    margin: 20px;
}
.detail-information h2, h3{
    margin: 10px;
}
.detail-information p{
    margin: 20px;
}
.detail-information .btn-watch{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 65%;
    height: 40px;
    font-size: 20px;
    transition: 200ms;
}
.detail-information .btn-watch:hover{
    width: 72.5%;
    height: 50px;
    box-shadow: 4px 8px 12px lightcoral;
    transition: 200ms;
}
.related-movies-holder{
    min-width: 100vw;
    min-height: 450px;
    background-color: black;
    padding-left: 7.5px;
}
.related-movies-holder h1{
    color: white
}
.related-movies{
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
    display: flex;
    scrollbar-color: #333 #000;
}
.related-item{
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;  
}
.related-item img{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    margin-top: 10px;
}
.related-item h1{
    color: white;
    font-size: 20px;
    margin-top: 10px
}
.related-item-button-holder{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.btn-watch{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: 40px;
}
.button-holder{
    display: flex;
    gap: 5px;
    width: 90%;
}
.add-to-favorited{
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    width: 45%;
    height: 40px;
    font-size: 20px;
}
.view{
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    width: 125px;
    height: 40px;
}
.watch{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: 40px;
}
.watch a{
    color: white;
    text-decoration: none;
}
.view a{
    color: red;
    text-decoration: none;
}