*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.main-nav{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.main-nav h1{
    color: red;
}
.nav-main-item-holder{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 30px;
}
.nav-main-item-holder a{
    color: red;
    text-decoration: none;
    font-size: 22.5px;
}
.account-holder{
    height: 100%;
    padding-top: 5px;
}
.account-holder a img{
    width: 65px;
    height: 90%;
    border-radius: 100%;
}
.cta{
    background-color: black;
    width: 100vw;
    height: 65vh;
    color: white;
    display: flex;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 2px 8px 100px red;
    margin-bottom: 150px;
}
.cta-image{
    width: 50%;
    height: 100%;
    opacity: 0.25;
}
.cta-main{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.cta-main h1{
    font-size: 45px;
    color: red;
}
.search-holder{
    margin-top: 20px;
    display: flex;
    gap: 25px;
}
.search-holder input{
    width: 350px;
    height: 45px;
    background-color: black;
    border: 1px solid red;
    border-radius: 9px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.search-holder button{
    width: 150px;
    height: 45px;
    background-color: red;
    border: 1px solid white;
    border-radius: 12.5px;
    color: white;
    font-size: 20px;
}
.action-main-holder, .horror-main-holder, .comedy-main-holder, .animated-main-holder, .romance-main-holder{
    min-width: 100vw;
    min-height: 450px;
    background-color: black;
    padding-left: 7.5px;
}
.action-main-holder h1, .horror-main-holder h1, .comedy-main-holder h1, .animated-main-holder h1, .romance-main-holder h1{
    color: white
}
.action-secondary-holder, .horror-secondary-holder, .comedy-secondary-holder, .animated-secondary-holder, .romance-secondary-holder{
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
    display: flex;
    scrollbar-color: #333 #000;
}
.action-item, .horror-item, .comedy-item, .animated-item, .horror-item, .romance-item{
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;
    
}
.action-item img, .horror-item img, .comedy-item img, .animated-item img, .horror-item img, .romance-item img{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    margin-top: 10px;
}
.action-item h1, .horror-item h1, .comedy-item h1, .animated-item h1, .romance-item h1{
    color: white;
    font-size: 20px;
    margin-top: 10px
}
.action-item-button-holder, .horror-item-button-holder, .comedy-item-button-holder, .romance-item-button-holder, .animated-item-button-holder{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.view{
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    width: 125px;
    height: 40px;
}
.watch{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: 40px;
}
.watch a{
    color: white;
    text-decoration: none;
}
.view a{
    color: red;
    text-decoration: none;
}