*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.go-back{
    background-color: rgb(35, 35, 35);
    color: white;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 25px;
}
.go-back p{
    font-size: 20px;
    font-weight: bold;
}
.body-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
}
.search-holder{
    width: 25%;
    display: flex;
    gap: 5px;
}
.search-holder input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
    margin-top: 2.5px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.search-holder button{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 20%;
    height: 35px;
    font-size: 15px
}
.results-holder{
    width: 90%;
    min-height: 350px;
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #333 #000;
}
.results-item{
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-height: 350px;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;  
}
.results-item img{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    margin-top: 10px;
}
.results-item h1{
    color: white;
    font-size: 20px;
    margin-top: 10px
}
.results-item-button-holder{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.view{
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    width: 125px;
    height: 40px;
}
.watch{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: 40px;
}
.watch a{
    color: white;
    text-decoration: none;
}
.view a{
    color: red;
    text-decoration: none;
}
.results-h1{
    color: white;
    margin-top: 10px;
}