*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.login-main-holder{
    display: flex;
    height: 90vh;
    width: 75vw;
    margin-top: 5vh;
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    align-items: center;
    box-shadow: 8px 12px 16px red;
}
.login-main-holder img{
    width: 65%;
    height: 100%;
    border-radius: 15px;
}
.login-form{
    width: 50%;
    height: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form h1{
    color: red;
    font-size: 50px;
}
.username-input, .password-input, .email-input, .passwordconfirm-input{
    width: 90%;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    color: white;
}
.btn-submit{
    background-color: red;
    color: white;
    width: 80%;
    height: 40px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    transition: 200ms;
}
.btn-submit:hover{
    width: 85%;
    height: 50px;
    box-shadow: 4px 8px 12px lightcoral;
    transition: 200ms;
}
.deny-txt{
    color: red;
    margin: 20px;
}
.asking{
    display: flex;
    gap: 5px;
    margin: 10px;
}
.asking p{
    color: darkgray;
}
.asking a{
    color: red;
    font-weight: bold;
}