*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.main-nav{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(50, 50, 50)
}
.main-nav h1{
    color: red;
}
.nav-main-item-holder{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 30px;
}
.nav-main-item-holder a{
    color: red;
    text-decoration: none;
    font-size: 22.5px;
}
.account-holder{
    height: 100%;
    padding-top: 5px;
}
.account-holder a img{
    width: 65px;
    height: 90%;
    border-radius: 100%;
    border: 1.5px solid red;
}
.body-holder{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.body-holder h1{
    color: red;
    font-size: 45px;
}
.users-list-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.search-holder{
    width: 25%;
    display: flex;
    gap: 5px;
}
.search-holder input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
    margin-top: 2.5px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.search-holder button{
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 20%;
    height: 35px;
    font-size: 15px
}
.users-list{
    width: 90%;
    min-height: 350px;
    display:inline-flex;
    flex-wrap: wrap;
    background-color: rgb(35, 35, 35);
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.user{
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 25px;
}
.user img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 1.5px solid red;
}
.user h2{
    color: red;
    font-size: 20px;
}